<div class="container"> <!-- open container -->
  <div class="row"> <!--  open row -->
    
    <div id="form-header" class="col-12">
      <h1 id="title">Profile Page</h1>
    </div>
  </div> <!--  close row --> 
 
 <div class="row"> <!--  open row -->    
     <div id="form-tagline" class="col-md-4">
         <div class="form-tagline">
          <img id="profilelogo" src="assets/profileLogo.png" alt="" height="270px" style="align-items: center;">
             <!-- <p id="description" class="lead" >Hello Admin</p> -->
         </div>
     </div>
    
     <div id="form-content" class="col-md-8">
       
       <form id="profile-form" [formGroup]="profileForm"> <!-- open form -->
                           
           <div class="row form-group">
              <div class="col-sm-3">
               <label id="name-label" class="control-label" for="name">*Name:</label>
              </div>
             
              <div class="input-group col-sm-9">
                <div class="input-group-prepend">
                   <span class="input-group-text" id="basic-addon-name"><i class="fa fa-user"></i></span>
                </div>                   
                <input id="name" Disabled="true" type="text" class="form-control" placeholder="Please Enter Your Name" name="userName" required [value]="userName" >
              </div>
           </div>
            
           <div class="form-group row">
              <div class="col-sm-3">
                <label id="email-label" class="control-label" for="email">*Email:</label>
              </div>
            
              <div class="input-group col-sm-9">
                <div class="input-group-prepend">
                   <span class="input-group-text" id="basic-addon-mail"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="email"  class="form-control" Disabled="true" id="email" placeholder="Enter Your Email" name="userEmail" pattern="^[-+.\w]{1,64}@[-.\w]{1,64}\.[-.\w]{2,6}$" required [value]="userEmail" >
              </div>
           </div>
            
           <div class="form-group row">
              <div class="col-sm-3">
                <label id="number-label" class="control-label" for="email">*Contact Number:</label>
              </div>
            
              <div class="input-group col-sm-9">
                <div class="input-group-prepend">
                   <span class="input-group-text" id="basic-addon-room"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                  </svg></span>
                </div>
                <input type="number" Disabled="true" class="form-control" id="number" placeholder="Enter Your Room Number" name="userNumber" required [value]="userNumber" >
              </div>
            </div>
            
           <div class="form-group row">    
              <div class="col-sm-3">
                <label class="control-label"for="visit-purpose">Role:</label>
              </div>
              
              <div class="input-group col-sm-9">
                <div class="input-group-prepend">
                   <span class="input-group-text" id="basic-addon-purpose"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                  </svg></span>
                </div>
                
                <select class="form-control" id="dropdown" disabled="true">
                  <option >{{role}}</option>
                </select>
                
              </div>     
           </div>
           
           <div class="form-group row">
            <div class="col-sm-3">
              <label id="number-label" class="control-label" for="password">*Change Password</label>
            </div>
          
            <div class="input-group col-sm-9">
              <div class="input-group-prepend">
                 <span class="input-group-text" id="basic-addon-room"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg></span>
              </div>
              <input type="password"  class="form-control" id="number" placeholder="Enter password" name="password" required  formControlName="password">
            </div>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                <div class="error-message" *ngIf="profileForm.get('password')?.hasError(error.type) && (profileForm.get('password')?.dirty || profileForm.get('password')?.touched)">
                  {{ error.message }}
                </div>
              </ng-container>
          </div></div>


          <div class="form-group row">
            <div class="col-sm-3">
              <label id="number-label" class="control-label" for="password">*Confirm Password</label>
            </div>
          
            <div class="input-group col-sm-9">
              <div class="input-group-prepend">
                 <span class="input-group-text" id="basic-addon-room"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg></span>
              </div>
              <input type="password"  class="form-control" id="number" placeholder="Confirm password" name="confirmpassword" required  formControlName="confirmpassword">
            </div>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.confirmpassword">
                <div class="error-message" *ngIf="profileForm.get('confirmpassword')?.hasError(error.type) && (profileForm.get('confirmpassword') || profileForm.get('confirmpassword')?.touched)">
                  {{ error.message }}
                </div>
                
              </ng-container>
              <span *ngIf="f['confirmpassword'].getError('Mustmatch')!=null" class="text-danger">Password Doesn't Matched</span>
          </div>
        
        </div>
         <hr>     
         <div class="form-group row">
           <div class="col-sm-12 submit-button">
             <button type="submit" id="submit" class="btn btn-default" aria-pressed="true" [disabled]="!profileForm.valid">Update Profile</button>
           </div>
          
         </div>
                          
       </form> <!-- close form -->

   </div> <!-- close form content div -->
          
 </div> <!-- close row -->
</div><!--  close container -->

<footer>
 <script src='https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js'>          
 </script>
</footer>
