<body>
    <img src="assets/bg3.jpg" id="bg" >
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <img mat-card-image src="assets/EXPD_BIG.svg" style="height: 30px; width: auto; " >
  </mat-toolbar>
  <mat-card *ngIf="isSignin">
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h1 style="color: #595a5b;"><img mat-card-image src="assets/EXPD.svg" style="height: 15px; width: auto;" > Asset Management System</h1>
        <h2>Log In</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" class="button" routerLink="/adminManagement/adminDashboard" [disabled]="!loginForm.form.valid">Login</button><br><br>
       <p (click)="isforgot()" style="color: rgb(54, 54, 183); cursor: pointer;">Forgot Password</p>
      </form>
    </mat-card-content>
  </mat-card>



  <mat-card  *ngIf="isforgotPassword">
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h1 style="color: #595a5b;"><img mat-card-image src="assets/EXPD.svg" style="height: 15px; width: auto;" > Asset Management System</h1>
        <h2>Forget Password</h2>
        <h3 style="text-align: left;">
            <li>Enter your mail</li>
            <li>Click, Reset Button</li>
            <li>The reset Link will be generating on your Email ID</li>
            <li>Verify your Email, Enter Your New Password and Login</li>
        </h3>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        
        <button mat-raised-button color="accent" class="button" type="submit" (click)="isConfirmPasswords()"  [disabled]="!loginForm.form.valid">Reset</button><br><br>
       <p (click)="isSigninpage()" style="color: rgb(54, 54, 183); cursor: pointer; ">Back</p>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="isConfirmPassword">
    <mat-card-content>
      <form id="form" [formGroup]="passwordform">
        <h1 style="color: #595a5b;"><img mat-card-image src="assets/EXPD.svg" style="height: 15px; width: auto;" > Asset Management System</h1>
        <h2>Enter New Password</h2>
        <mat-error *ngIf="!loginValid">
          Enter Password
        </mat-error>
        <mat-form-field>
          <input matInput type="password" placeholder="Enter New Password"  name="password" formControlName="password" required>
         
        </mat-form-field>
        <div class="error-messages">
          <div *ngFor="let error of error_messages.password">
            <div class="error-message" *ngIf="passwordform.get('password')?.hasError(error.type) && (passwordform.get('password')?.dirty || passwordform.get('password')?.touched)">
              {{ error.message }}
            </div>
          </div>
      </div>

        <mat-form-field>
          <input matInput type="password" placeholder="Confirm New Password" name="confirmpassword" required  formControlName="confirmpassword" required>
         
        </mat-form-field>
        <div class="error-messages">
          <div *ngFor="let error of error_messages.confirmpassword">
            <div class="error-message" *ngIf="passwordform.get('confirmpassword')?.hasError(error.type) && (passwordform.get('confirmpassword') || passwordform.get('confirmpassword')?.touched)">
              {{ error.message }}
            </div>    
          </div>
          <span *ngIf="f['confirmpassword'].getError('Mustmatch')!=null" class="text-danger">Password Doesn't Matched</span>
      </div>
        <button mat-raised-button color="accent" class="button"(click)="isSigninpage()"  [disabled]="!passwordform.valid">Save</button><br><br>
      </form>
    </mat-card-content>
  </mat-card>
</body>
